@import "src/assets/scss/variables";

:host {
  display: block;
  width: 285px;
  height: 390px;
  background-color: $main-bg-color;
  box-shadow: 5px 5px 5px rgba(143, 151, 162, 0.1);
  border-radius: 25px;
  margin: 0 10px;
}

.product-image {
  border-radius: 25px 25px 0 0;
}

.separator {
  height: 2px;
  background-color: $main-color-light;
}

.product-description-padding {
  padding: 15px 23px 15px 16px;
}

.specification {
  margin-right: 5px;

  &:first-of-type {
    margin-right: 0;
  }
}

.product-type {
  position: absolute;
  bottom: 30px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $main-bg-color;
  box-shadow: 0 2px 2px rgba(89, 98, 112, 0.5);
  border-radius: 10px;
  background-color: $success-color;
  padding: 2px 10px;

  &.discount-product {
    background-color: $warning-color;
  }
}

.product-title {
  display: block;
  margin-bottom: 16px;
}

.product-description {
  display: block;
  margin-bottom: 5px;
}

@media only screen and (max-width: 800px) {
  :host {
    display: flex;
    width: 385px;
    height: 130px;
  }

  .product-image {
    width: 130px;
    height: 130px;
    border-radius: 0 25px 25px 0;
  }

  .product-description-padding {
    padding: 22px 23px 17px 18px;
  }

  .product-description {
    margin-bottom: 23px;
  }

  .product-title {
    width: 200px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .product-description-padding {
    padding: 22px 18px 17px 13px;
  }
}
