@import "src/assets/scss/variables";

:host {
  width: 285px;
  height: 390px;
  background-color: $main-bg-color;
  box-shadow: 5px 5px 5px rgba(143, 151, 162, 0.1);
  border-radius: 25px;
}

.separator {
  height: 2px;
  background-color: $main-color-light;
}

.product-description-padding {
  padding: 15px 23px 15px 16px;
}

.specification {
  margin-right: 5px;

  &:first-of-type {
    margin-right: 0;
  }
}

.product-type {
  position: absolute;
  bottom: 30px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $main-bg-color;
  box-shadow: 0 2px 2px rgba(89, 98, 112, 0.5);
  border-radius: 10px;
  background-color: $success-color;
  padding: 2px 10px;
}
