@import "src/assets/scss/variables";

:host {
  width: 180px;
  height: 50px;
}

app-radio-button-small {
  &:first-child {
    border-radius: 0 25px 25px 0;
  }

  &:last-child {
    border-radius: 25px 0 0 25px;
  }
}

.active {
  background: $active-color-main;
}
