@import "src/assets/scss/variables";

:host{
  position: fixed;
  top: 112px;
  right: 10px;
  width: 285px;
  background-color: $secondary-color;
}

.product-category {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 28px 28px 24px;

  &.active {
    background: linear-gradient(166.01deg, $active-color-main 14.06%, $active-color-secondary 83.67%);
  }
}

.separator {
  width: 100%;
  height: 1px;
  background-color: $main-color-dark;
  opacity: 0.3;

  &.active {
    background-color: $main-color-light;
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  :host {
    top: 100px;
    right: 0;
    height: 80px;
    width: 100%;
    display: flex;
    overflow-x: auto;
  }

  .product-category {
    &.active {
      background: none;

      .category-name {
        color: $main-text-color
      }
    }
  }

  .text__main-light {
    color: $active-color-secondary;
  }

  .arrow-down.selected {
    background: url(src/assets/images/icons/arrow-left-grey.svg) center center no-repeat;
  }

  .arrow-left {
    background: url(src/assets/images/icons/arrow-left-grey.svg) center center no-repeat;
  }
}
