@import "../../../../assets/scss/variables";

:host {
  display: flex;
  width: 368px;
  height: 96px;
  border-radius: 10px;
  background-color: $main-color-light;
  overflow: hidden;
}

.custom-padding {
  padding: 10px 14px 8px 11px;
}

.price {
  display: flex;
  flex-direction: column;
  width: 78px;
  background-color: $main-bg-color;
  padding: 10px 11px 9px;
}
