@import "src/assets/scss/variables";

:host ::ng-deep {
  mat-horizontal-stepper {
    background-color: transparent;

    .mat-step-header {
      height: 25px !important;
      padding: 0;
      overflow: unset !important;

      &:last-of-type {
        .mat-step-icon-state-edit + .mat-step-label.mat-step-label-active {
          display: none;
        }
      }
    }

    .mat-step-icon {
      width: 25px;
      height: 25px;
      margin-left: 0 !important;
      background-color: $main-color;

      &.mat-step-icon-selected  {
        background-color: $main-bg-color;
        border: 2px solid $active-color-secondary;
      }
    }

    .mat-horizontal-content-container {
      display: none;
    }

    .mat-step-icon-state-edit + .mat-step-label.mat-step-label-active {
      display: inline-block;
      overflow: unset;
      background: salmon;
      height: 2px;
      position: absolute;
      left: -54px;
      z-index: 5;
      width: 54px;
    }

    .mat-step-label {
      display: none;
    }

    .mat-stepper-horizontal-line {
      opacity: 0.5;
      border-top-width: 2px;
      border-top-color: $main-color;
      min-width: 54px;
      margin: 0 !important;
    }

    .mat-step-icon-state-number {
      .mat-step-icon-content {
        display: none !important;
      }
    }
  }

  .mat-step-icon-state-edit {
    background-color: $active-color-secondary !important;

    .mat-step-icon-content {
      width: 100%;
      height: 100%;
      background: url(src/assets/images/icons/completed.svg) center center no-repeat;
    }

    mat-icon {
      display: none;
    }
  }
}
