@font-face {
  font-family: Secular One;
  src: url(src/assets/fonts/SecularOne-Regular.ttf) format("opentype");
}

@font-face {
  font-family: Alef;
  src: url(src/assets/fonts/Alef-Regular.ttf) format("opentype");
}
