.main-menu {
  width: 24px;
  height: 24px;
  background-image: url(src/assets/images/icons/main-menu.svg);
}

.shopping-bag {
  width: 25px;
  height: 28px;
  background-image: url(src/assets/images/icons/shopping-bag.svg);
}

.search {
  width: 22px;
  height: 22px;
  background-image: url(src/assets/images/icons/search.svg);
  background-size: contain;
}

.food-bag {
  display: inline-block;
  width: 133px;
  height: 183px;
}

.motorbike {
  display: inline-block;
  width: 179px;
  height: 168px;
}

.arrow-down {
  width: 15px;
  height: 15px;
  background: url(src/assets/images/icons/arrow-down.svg) center center no-repeat;

  &.selected {
    background: url(src/assets/images/icons/arrow-down-selected.svg) center center no-repeat;
  }
}

.arrow-left {
  width: 15px;
  height: 15px;
  background: url(src/assets/images/icons/arrow-left-active.svg) center center no-repeat;
}

.arrow-left-grey {
  background: url(src/assets/images/icons/arrow-left-grey.svg) center center no-repeat;
}
