.m {
  &__left {

    &--5 {
      margin-left: 5px;
    }

    &--9 {
      margin-left: 9px;
    }

    &--10 {
      margin-left: 10px;
    }

    &--20 {
      margin-left: 20px;
    }

    &--40 {
      margin-left: 40px;
    }

    &--55 {
      margin-left: 55px;
    }

    @media only screen and (max-width: 600px) {
      &--xs {
        &--15 {
          margin-left: 15px;
        }
      }
    }
  }

  &__right {
    &__3 {
      margin-right: 3px;
    }

    &__11 {
      margin-right: 11px;
    }

    &__200 {
      margin-right: 200px;
    }
  }

  &__bottom {
    &--5 {
      margin-bottom: 5px;
    }

    &--8 {
      margin-bottom: 8px;
    }

    &--10 {
      margin-bottom: 10px;
    }

    &--13 {
      margin-bottom: 13px;
    }

    &--14 {
      margin-bottom: 14px;
    }

    &--15 {
      margin-bottom: 15px !important;
    }

    &--18 {
      margin-bottom: 18px;
    }

    &--20 {
      margin-bottom: 20px;
    }

    &--25 {
      margin-bottom: 25px;
    }

    &--30 {
      margin-bottom: 30px;
    }

    &--38 {
      margin-bottom: 38px;
    }

    &--42 {
      margin-bottom: 42px;
    }
  }

  @media only screen and (max-width: 600px) {
    &__xs {
      &--0 {
        margin: 0 !important;
      }
    }
  }

}

.p {
  &__right {

    &--5 {
      padding-right: 5px;
    }

    &--10 {
      padding-right: 10px;
    }

    &--14 {
      padding-right: 14px;
    }
  }

  &__left {
    &--5 {
      padding-left: 5px;
    }

    &--14 {
      padding-left: 14px;
    }
  }
}

.w {
  &__100 {
    width: 100% !important;
  }

  &__126 {
    width: 126px !important;
  }

  &__200 {
    width: 200px !important;
  }

  &__284 {
    width: 284px;
  }

  &__342 {
    width: 342px;
  }

  @media only screen and (max-width: 600px) {
    &__xs {
      &--152 {
        width: 152px !important;
      }
    }
  }
}
