
$main-color: #8F97A2;
$main-color-light: #E8ECF0;
$main-color-dark: #2D3643;
$main-color-bg-opacity: #f4f6f8;
$secondary-color: #596270;

$active-color-main: #FFA18C;
$active-color-secondary: #F27E6E;

$main-bg-color: #FFFFFF;
$main-text-color: #FFFFFF;

$success-color: #27AE60;
$warning-color: #F27E6E;
