@import "src/assets/scss/variables";

:host {
  width: 89px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  span {
    color: $active-color-secondary;
  }

  &.active {
    span {
      color: $main-text-color;
    }
  }
}
