@import "src/assets/scss/variables";

:host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 354px;
  height: 418px;
  border-radius: 25px;
  background-color: $main-bg-color;
  padding: 0 52px 61px;
  box-shadow: 3px 5px 10px rgba(89, 98, 112, 0.5);
  box-sizing: border-box;

  &.active {
    background: linear-gradient(138.42deg, $active-color-main 14.06%, $active-color-secondary 83.67%);

    button {
      opacity: 1;
      border-color: $main-bg-color;

      span {
        color: $main-text-color;
        text-shadow: 1px 1px 2px rgba(89, 98, 112, 0.5);
      }
    }
  }
}

button {
  margin-top: 49px;
  background-color: transparent;
}

@media only screen and (max-width: 800px) {
  :host {
    width: 300px;
    height: 250px;
    padding: 20px;

    img {
      height: 100px;
    }
  }
}

@media only screen and (max-width: 400px) {
  :host {
    width: 290px;
    height: 240px;
  }
}
