@import "src/assets/scss/variables";

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(138.42deg, $active-color-main 14.06%, $active-color-secondary 83.67%);
  box-shadow: 0 6px 6px rgba(179, 72, 65, 0.3);
}

i {
  display: inline-block;
}
