<div class="d__flex d__flex--items-center main-menu-wrap">
  <app-circle-icon class="m__left--20 main-menu-icon" [type]="'main-menu'"></app-circle-icon>
  <span class="text text__medium text__main m__left--55 main-menu-text">משלוח אוכל</span>
</div>

<app-search-bar class="m__left--20"></app-search-bar>

<div class="push-block"></div>

<app-radio-group class="m__left--20"></app-radio-group>

<div class="profile-wrap d__flex d__flex--items-center">
  <span class="profile m__left--10"></span>
  <span class="text text__small text__main m__left--40">ירון</span>
</div>

<app-circle-icon [type]="'shopping-bag'"></app-circle-icon>
