@import "src/assets/scss/variables";

:host {
  width: 998px;
  background: $main-bg-color;
  box-shadow: 3px 5px 10px rgba(89, 98, 112, 0.5);
  border-radius: 25px;
  padding: 76px 103px 50px 102px;

  ::ng-deep app-radio-group-small {
    span {
      font-family: Alef;
    }
  }
}


@media only screen and (max-width: 400px) {
  .w__385 {
    width: 100% !important;
  }

  .m__bottom--55 {
    margin-bottom: 35px;
  }

  :host ::ng-deep {
    app-radio-group-small {
      width: 100% !important;

      app-radio-button-small {
        width: 25% !important;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  :host {
    padding: 22px 20px 30px 21px;
    width: 100%;
  }

  button.active {
    width: 284px;
  }
}
