<div class="d__flex d__flex--justify-between d__flex--justify-center--xs m__bottom--35">
  <span class="text text__title-section text__secondary">פרטי תשלום</span>

  <div class="d__flex d__none--xs">
    <span class="action-button warning m__left--10">
      <img src="assets/images/icons/shevron-right.svg" alt="">
    </span>
    <span class="text text__small text__active-secondary text__alef">רוזח</span>
  </div>
</div>

<div class="d__flex d__flex--column m__bottom--55">
  <span class="text text__medium text__center--xxs text__secondary m__bottom--5">העדפות</span>
  <app-radio-group-small [extended]="true"></app-radio-group-small>
</div>

<span class="d__block text__center--xxs text text__medium text__secondary m__bottom--20 m__bottom--10--xxs">הכנס פרטי כרטיס</span>

<div class="d__flex d__flex--column--s m__bottom--40">
  <div class="d__flex d__flex--column m__left--23">
    <div class="d__flex d__flex--column w__385 m__bottom--20">
      <span class="text text__secondary text__small m__bottom--5">שם בעל הכרטיס</span>
      <app-input [placeholder]="'החפשמ םש יטרפ םש'"></app-input>
    </div>

    <div class="d__flex d__flex--column w__385 m__bottom--20--s">
      <span class="text text__secondary text__small m__bottom--5">מספר כרטיס</span>
      <app-input [placeholder]="'**** **** **** ****'"></app-input>
    </div>
  </div>

  <div class="d__flex d__flex__wrap">
    <div class="d__flex d__flex--column m__bottom--20 m__left--21">
      <span class="text text__secondary text__small m__bottom--5">חודש</span>
      <app-select [text]="''"></app-select>
    </div>

    <div class="d__flex d__flex--column m__left--21--s m__bottom--20">
      <span class="text text__secondary text__small m__bottom--5">שנה</span>
      <app-select [text]="''"></app-select>
    </div>

    <div class="d__flex d__flex--column w__182">
      <span class="text text__secondary text__small m__bottom--5">CVV/CVC</span>
      <app-input [placeholder]="'***'"></app-input>
    </div>
  </div>
</div>

<div class="d__flex d__flex--justify-center">
  <button class="active w__386">
    <span class="text text__main-light text__small text__shadow">אישור והמשך הזמנה</span>
  </button>
</div>

