<div class="d__flex d__flex--justify-between d__flex--justify-center--xs m__bottom--35">
  <span class="text text__title-section text__secondary">פרטי תשלום</span>

  <div class="d__flex d__none--xs">
    <span class="action-button warning m__left--10">
      <img src="assets/images/icons/shevron-right.svg" alt="">
    </span>
    <span class="text text__small text__active-secondary text__alef">רוזח</span>
  </div>
</div>

<div class="d__flex d__flex--column">
  <span class="text text__medium text__secondary m__bottom--5">העדפות</span>
  <app-radio-group-small [extended]="true"></app-radio-group-small>
</div>
