@import "src/assets/scss/variables";

:host {
  width: 998px;
  background: $main-bg-color;
  box-shadow: 3px 5px 10px rgba(89, 98, 112, 0.5);
  border-radius: 25px;
  padding: 76px 103px 50px 102px;
}
