@import "../../../assets/scss/variables";

:host {
  padding: 46px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

app-card {
  &:first-of-type {
    margin-left: 84px
  }
}

.text__title {
  margin-bottom: 62px;
}

@media only screen and (max-width: 800px) {
  :host {
    padding: 0;
    flex-direction: column;
  }

  .cards-container {
    flex-direction: column;
  }

  app-card {
    margin-bottom: 20px;

    &:first-of-type {
      margin-left: 0 !important;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .text__title {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .text__title {
    margin-bottom: 0;
  }
}
