<div class="d__flex d__flex--justify-between d__flex--items-center w__100 m__bottom--25">
  <span class="text text__small text__main-light p__right--14">ההזמנה שלך</span>

  <div class="d__flex d__flex--column p__left--14">
    <span class="text text__x-small text__alef text__main opacity__5">מינימום</span>
    <span class="text text__x-small text__alef text__main">60₪</span>
  </div>
</div>

<app-radio-group class="d__flex"></app-radio-group>

<app-shopping-item *ngFor="let item of shoppingItems"></app-shopping-item>
