@import "src/assets/scss/variables";

.overlay {
  display: block;
  position: relative;
  width: 100%;
  height: calc(100% - 200px);
  min-height: calc(100vh + 100px);
  background-image: url(src/assets/images/main-background.png);

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    background-color: $main-color;
    z-index: -1;
  }
}
