@import "src/assets/scss/variables";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 528px;
  height: 664px;

  box-shadow: 3px 5px 10px rgba(89, 98, 112, 0.5);
  border-radius: 25px;
  background-color: $main-bg-color;
  padding: 39px 72px 35px 72px;
}

img {
  width: 85px;
  height: 117px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 386px;
    height: 690px;
    padding: 43px 20px 26px 19px;
  }
}

@media only screen and (max-width: 360px) {
  .card {
    width: 350px;
    height: 690px;
    padding: 43px 20px 26px 19px;
  }

  :host ::ng-deep {
    app-radio-group-small {
      width: 144px;

      app-radio-button-small {
        width: 72px;
      }
    }
  }
}
