<span class="text text__title text__main">איסוף עצמי</span>


<div class="card">
  <img class="m__bottom--20" src="assets/images/icons/food-bag.svg" alt="">

  <div class="w__100">
    <div class="d__flex--inline d__flex--column m__left--20">
      <span class="text text__small text__secondary m__bottom--5">מה הכי קרוב ?</span>
      <app-select></app-select>
    </div>

    <div class="d__flex--inline d__flex--column">
      <span class="text text__small text__secondary m__bottom--5">מתי ?</span>
      <app-radio-group-small></app-radio-group-small>
    </div>
  </div>
</div>
