@import "src/assets/scss/variables";

:host {
  display: flex;
  flex-direction: column;
  background-color: $main-color-light;
  padding: 32px 360px 0 30px;
}

@media only screen and (max-width: 600px) {
  :host {
    padding: 0;
  }
}
