@import "src/assets/scss/variables";

:host {
  width: 998px;
  padding: 72px 58px 52px 56px;
  background-color: $main-bg-color;
  box-shadow: 3px 5px 10px rgba(89, 98, 112, 0.5);
  border-radius: 25px;
}

.separator {
  opacity: 0.3;
  border: 2px solid $main-color;
  width: 100%;
}

.product-image {
  width: 130px;
  height: 130px;
  border-radius: 25px;
  margin-left: 25px;
}

.action-button {
  &.success {
    position: absolute;
    top: 3px;
    right: -40px;
  }

  &.warning {
    position: absolute;
    top: 3px;
    left: -40px;
  }
}

.order-wrap {
  padding: 0 45px;
}

.order-summary {
  margin-bottom: 37px;
  position: relative;
  background-color: $main-color-bg-opacity;
  border-radius: 25px;
  padding: 29px 45px 35px 42px;
}

.shopping-item-disabled {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 47px;
  margin-bottom: 20px;
  background-color: $main-bg-color;
  opacity: 0.5;
  border-radius: 10px;
  padding: 15px 14px 10px 11px;
  box-shadow: 5px 5px 5px rgba(143, 151, 162, 0.1);
}



@media only screen and (max-width: 1000px) {
  :host {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  :host {
    padding-left: 23px;
    padding-right: 23px;
  }
}

@media only screen and (max-width: 800px) {
  .w__331 {
    width: 280px !important;
  }

  .product-image {
    width: 100px;
    height: 100px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .w__331 {
    width: 200px !important;
  }
}


@media only screen and (max-width: 600px) {
  :host {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 0;

    app-shopping-item ::ng-deep {
      width: 100%;
      min-height: 96px;
      height: auto;
      background: $main-bg-color;
      border-radius: 10px;

      .price {
        background-color: transparent;
      }
    }

    .separator {
      border: 1px solid $main-color;
    }
  }

  .custom-padding {
    padding: 0 13px;
  }
}
