<div class="order-wrap">
  <div class="d__flex d__flex--justify-between m__bottom--35">
    <span class="text text__title-section text__secondary">ההזמנה שלך</span>
    <span class="text text__small text__active-secondary text__alef">חזרה לחנות</span>
  </div>

  <div class="separator m__bottom--32"></div>

  <div class="d__flex d__flex--justify-between pos__relative m__bottom--32">
    <div class="d__flex">
      <img class="product-image" src="{{ products[0].image }}" alt="">
      <div class="d__flex d__flex--column w__331">
        <span class="text text__medium text__secondary m__bottom--10">משפחתית טבעונית</span>
        <span class="text text__small text__main text__alef opacity__7">
          קשיו, ומלפפון חמוץ, בצל, זיתי קלמטה, עגבניות שרי, גבינה בולגרית, קשיו, ומלפפון חמוץ
        </span>
      </div>
    </div>

    <div class="d__flex d__flex--items-center d__flex--justify-between h__50 w__165">
      <app-circle-icon [type]="'minus-lg'"></app-circle-icon>
      <span class="text text__secondary text__medium m__left--12 m__right__12">2</span>
      <app-circle-icon [type]="'plus-lg'"></app-circle-icon>
    </div>

    <div class="d__flex d__flex--column">
      <div>
        <span class="text text__secondary m__right__3 text__xx-small">₪</span>
        <span class="text text__secondary text__number">{{ products[0].newPrice }}</span>
      </div>

      <div *ngIf="products[0].oldPrice">
        <span class="text text__main m__right__3 text__xx-small m__left--5 opacity__5">₪</span>
        <span class="text text__main text__number text__line-through opacity__5">{{ products[0].oldPrice }}</span>
      </div>
    </div>

    <span class="action-button success">
        <img src="assets/images/icons/edit.svg" alt="">
      </span>
    <span class="action-button warning">
        <img src="assets/images/icons/delete.svg" alt="">
    </span>
  </div>

  <div class="separator m__bottom--32"></div>

  <div class="d__flex d__flex--justify-between pos__relative m__bottom--32">
    <div class="d__flex">
      <img class="product-image" src="{{ products[1].image }}" alt="">
      <div class="d__flex d__flex--column w__331">
        <span class="text text__medium text__secondary m__bottom--10">משפחתית טבעונית</span>
        <span class="text text__small text__main text__alef opacity__7">
          קשיו, ומלפפון חמוץ, בצל, זיתי קלמטה, עגבניות שרי, גבינה בולגרית, קשיו, ומלפפון חמוץ
        </span>
      </div>
    </div>

    <div class="d__flex d__flex--items-center d__flex--justify-between h__50 w__165">
      <app-circle-icon [type]="'minus-lg'"></app-circle-icon>
      <span class="text text__secondary text__medium">17</span>
      <app-circle-icon [type]="'plus-lg'"></app-circle-icon>
    </div>

    <div class="d__flex d__flex--column">
      <div>
        <span class="text text__secondary m__right__3 text__xx-small">₪</span>
        <span class="text text__secondary text__number">{{ products[1].newPrice }}</span>
      </div>

      <div *ngIf="products[1].oldPrice">
        <span class="text text__main m__right__3 text__xx-small m__left--5 opacity__5">₪</span>
        <span class="text text__main text__number text__line-through opacity__5">{{ products[1].oldPrice }}</span>
      </div>
    </div>

    <span class="action-button success">
        <img src="assets/images/icons/edit.svg" alt="">
      </span>
    <span class="action-button warning">
        <img src="assets/images/icons/delete.svg" alt="">
    </span>
  </div>

  <div class="separator m__bottom--32"></div>

  <div class="d__flex d__flex--justify-between m__bottom--20">
    <span class="text text__medium text__secondary">שליחות</span>

    <div>
      <span class="text text__secondary m__right__3 text__small">₪</span>
      <span class="text text__secondary text__medium">20</span>
    </div>
  </div>
</div>

<div class="order-summary">
  <div class="d__flex d__flex--justify-between m__bottom--5">
    <span class="text text__medium text__main opacity__5">מחיר מלא</span>

    <div>
      <span class="text text__main m__right__3 text__small m__left--5 opacity__5">₪</span>
      <span class="text text__main text__medium text__line-through opacity__5">85</span>
    </div>
  </div>

  <div class="d__flex d__flex--justify-between m__bottom--10">
    <span class="text text__medium text__active-secondary">מחיר סופי</span>

    <div>
      <span class="text text__active-secondary m__right__3 text__small m__left--5">₪</span>
      <span class="text text__active-secondary text__medium">20</span>
    </div>
  </div>

  <div class="d__flex d__flex--justify-between">
    <span class="text text__title-section text__secondary">מחיר מלא</span>

    <span class="text text__secondary text__number-lg">147</span>
  </div>
</div>

<div class="d__flex d__flex--justify-center">
  <button class="active w__383">
    <span class="text text__main-light text__small text__shadow">אישור והמשך הזמנה</span>
  </button>
</div>
