<div class="d__flex d__flex--justify-between d__flex__wrap custom-padding">
  <div class="d__flex d__flex--items-center m__bottom--8">
    <span class="action-button success">
      <img src="assets/images/icons/plus.svg" alt="">
    </span>
    <span class="text text__secondary text__number p__left--5 p__right--5">{{ shoppingItem.quantity }}</span>
    <span class="action-button success">
      <img src="assets/images/icons/minus.svg" alt="">
    </span>
  </div>

  <div class="d__flex d__flex--items-center m__bottom--8">
    <span class="action-button success m__left--9">
      <img src="assets/images/icons/edit.svg" alt="">
    </span>
    <span class="action-button warning">
      <img src="assets/images/icons/delete.svg" alt="">
    </span>
  </div>

  <span class="text text__secondary text__xx-small">{{ shoppingItem.description }}</span>
</div>

<div class="price">
  <div>
    <span class="text text__secondary m__right__3 text__xx-small">₪</span>
    <span class="text text__secondary text__number">{{ shoppingItem.newPrice }}</span>
  </div>

  <div *ngIf="shoppingItem.oldPrice">
    <span class="text text__main opacity__5 m__right__3 text__xx-small">₪</span>
    <span class="text text__main opacity__5 text__line-through text__number">{{ shoppingItem.oldPrice }}</span>
  </div>
</div>
