@import "src/assets/scss/variables";
@import "src/assets/scss/icons";
@import "src/assets/scss/fonts";
@import "src/assets/scss/spacing";
@import "src/assets/scss/custom-mat-dialog";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  min-height: 100vh;
  height: auto;
}

* {
  box-sizing: border-box;
}

.text {
  font-family: Secular One;
  font-style: normal;
  font-weight: normal;

  &__main {
    color: $main-color;
  }

  &__main-light {
    color: $main-text-color;
  }

  &__main-dark {
    color: $main-color-dark;
  }

  &__line-through {
    text-decoration: line-through;
  }

  &__alef {
    font-family: Alef;
  }

  &__secondary {
    color: $secondary-color;
  }

  &__light {
    color: $main-color-light;
  }

  &__active {
    color: $active-color-main;
  }

  &__active-secondary {
    color: $active-color-secondary;
  }

  &__nowrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__number {
    font-size: 27px;
    line-height: 27px;
  }

  &__number-lg {
    font-size: 50px;
    line-height: 50px;
  }

  &__x-small {
    font-size: 20px;
    line-height: 22px;
  }

  &__xx-small {
    font-size: 18px;
    line-height: 20px;
  }

  &__small {
    font-size: 22px;
    line-height: 24px;
  }

  &__medium {
    font-size: 33px;
    line-height: 33px;
  }

  &__title {
    font-size: 60px;
    line-height: 87px;
  }

  &__title-modal {
    font-size: 50px;
    line-height: 50px;
  }

  &__shadow {
    text-shadow: 0 2px 2px rgba(89, 98, 112, 0.5);
  }
}

.opacity {
  &__5 {
    opacity: 0.5;
  }

  &__7 {
    opacity: 0.7;
  }
}

.link {
  color: $active-color-main;
}

input {
  font-family: Alef;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  width: 100%;
  height: 22px;
  color: $main-color;
  outline: none;
  background-color: transparent;
  border: none;

  &::placeholder {
    color: $main-color;
  }
}

button {
  width: 250px;
  height: 50px;
  font-size: 33px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  border: 2px solid $main-color;
  border-radius: 25px;
  outline: none;

  &.active {
    background: linear-gradient(171.12deg, $active-color-main 14.06%, $active-color-secondary 83.67%);
    box-shadow: 0 6px 6px rgba(179, 72, 65, 0.3);
    opacity: 1;
    border: none;
  }
}

.pos {
  &__relative {
    position: relative;
  }
}

.d {
  &__block {
    display: block;

    @media only screen and (max-width: 450px) {
      &--xxs {
        display: block !important;
      }
    }
  }

  &__flex {
    display: flex;

    &--inline {
      display: inline-flex;
    }

    &__wrap {
      flex-wrap: wrap;

      @media only screen and (max-width: 600px) {
        &--xs {
          flex-wrap: wrap;
        }
      }
    }

    &--column {
      flex-direction: column;

      @media only screen and (max-width: 600px) {
        &--xs {
          flex-direction: column;
        }
      }
    }

    &--justify-between {
      justify-content: space-between;
    }

    &--justify-center {
      justify-content: center;

      @media only screen and (max-width: 800px) {
        &--s {
          justify-content: center;
        }
      }
    }

    &--items-center {
      align-items: center;
    }

    &--items-end {
      align-items: flex-end;
    }

    &--items-start {
      align-items: flex-start;

      @media only screen and (max-width: 600px) {
        &--xs {
          align-items: flex-start;
        }
      }
    }

    &--items-baseline {
      align-items: baseline;
    }
  }

  &__none {
    display: none;

    @media only screen and (max-width: 800px) {
      &--s {
        display: none !important;
      }
    }

    @media only screen and (max-width: 600px) {
      &--xs {
        display: none !important;
      }
    }

    @media only screen and (max-width: 450px) {
      &--xxs {
        display: none !important;
      }
    }
  }
}
