@import "src/assets/scss/icons";
@import "src/assets/scss/variables";
@import "src/assets/scss/fonts";
@import "src/assets/scss/spacing";

body {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.text {
  font-family: Secular One;
  font-style: normal;
  font-weight: normal;

  &__main {
    color: $main-color;
  }

  &__main-light {
    color: $main-text-color;
  }

  &__alef {
    font-family: Alef;
  }

  &__secondary {
    color: $secondary-color;
  }

  &__light {
    color: $main-color-light;
  }

  &__active {
    color: $active-color-main;
  }

  &__x-small {
    font-size: 20px;
    line-height: 22px;
  }

  &__small {
    font-size: 22px;
    line-height: 24px;
  }

  &__medium {
    font-size: 33px;
    line-height: 48px;
  }

  &__title {
    font-size: 60px;
    line-height: 87px;
  }

  &__shadow {
    text-shadow: 0 2px 2px rgba(89, 98, 112, 0.5);
  }
}

.opacity {
  &__5 {
    opacity: 0.5;
  }
}

.link {
  color: $active-color-main;
}

input {
  font-family: Alef;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  width: 100%;
  height: 22px;
  color: $main-color;
  outline: none;
  background-color: transparent;
  border: none;

  &::placeholder {
    color: $main-color;
  }
}

button {
  width: 250px;
  height: 50px;
  font-size: 33px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  border: 2px solid $main-color;
  border-radius: 25px;
  outline: none;

  &.active {
    background: linear-gradient(171.12deg, $active-color-main 14.06%, $active-color-secondary 83.67%);
    box-shadow: 0 6px 6px rgba(179, 72, 65, 0.3);
    opacity: 1;
    border: none;
  }
}

.d {
  &__flex {
    display: flex;

    &--inline {
      display: inline-flex;
    }

    &--column {
      flex-direction: column;
    }

    &--justify-between {
      justify-content: space-between;
    }

    &--justify-center {
      justify-content: center;
    }

    &--items-center {
      align-items: center;
    }
  }
}
