<div class="product-options m__bottom--20">
  <div class="product-options-title m__left--20">
    <span class="text text__secondary text__medium">העדפות</span>
  </div>

  <div>
    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'בחר\\י'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'בחר\\י'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'בחר\\י'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'בחר\\י'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'בחר\\י'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'בחר\\י'"></app-select>
    </div>
  </div>
</div>

<div class="product-options m__bottom--20">
  <div class="product-options-title m__left--20">
    <span class="text text__secondary text__medium">
      משהו<br>
      לשנות?
    </span>
  </div>

  <div>
    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">לצב</span>
      <app-select [text]="'רגיל'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">פטריות</span>
      <app-select [text]="'רגיל'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">נקניק</span>
      <app-select [text]="'רגיל'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">הגבינה</span>
      <app-select [text]="'רגיל'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">פלפל</span>
      <app-select [text]="'רגיל'"></app-select>
    </div>
  </div>
</div>

<div class="product-options m__bottom--20">
  <div class="product-options-title m__left--20">
    <span class="text text__secondary text__medium">תוספות</span><br>
    <span class="text text__main text__alef text__x-small opacity__5">עד 5 תוספות</span>
  </div>

  <div>
    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'תירס'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'תירס'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'תירס'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'תירס'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'תירס'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'תירס'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'תירס'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">סוג בצק</span>
      <app-select [text]="'תירס'"></app-select>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">ןוחט רשב</span>
      <app-slide-toggle></app-slide-toggle>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">ןוחט רשב</span>
      <app-slide-toggle></app-slide-toggle>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">ןוחט רשב</span>
      <app-slide-toggle></app-slide-toggle>
    </div>

    <div class="product-option-wrap d__flex--inline d__flex--column m__left--20 m__bottom--20">
      <span class="text text__small text__secondary m__bottom--5">ןוחט רשב</span>
      <app-slide-toggle></app-slide-toggle>
    </div>
  </div>
</div>

<div class="product-options d__flex d__flex--column m__bottom--20">
  <div class="d__flex d__flex--items-center m__bottom--25">
    <div class="product-options-title m__left--20">
      <span class="text text__secondary text__medium">שם</span><br>
      <span class="text text__main text__alef text__x-small opacity__5">עבור מי המנה?</span>
    </div>

    <app-input class="w__383" [placeholder]="'הוסף את שמך כאן'"></app-input>
  </div>

  <div class="d__flex d__flex--items-center">
    <div class="product-options-title m__left--20">
      <span class="text text__secondary text__medium">הערות</span><br>
      <span class="text text__main text__alef text__x-small opacity__5">רוצה להגיד</span><br>
      <span class="text text__main text__alef text__x-small opacity__5">לנו משהו?</span>
    </div>

    <app-textarea></app-textarea>
  </div>
</div>
